@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Flight Reservation System</h3>

<p>

Users will be able to look for, book and cancel flights. There are 3 different
types of users. The administrator will be able to add/delete destinations, change prices and so on. The

registered users will be able to book/cancel flights. Finally, the guests will be able to search for flights,

but they won't be able to reserve them unless they register.</p>
