@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<div>
    Site Administration:
        Group 2
</div>
<br/>

<address>
    <strong>Email Id:</strong>   <a href="mailto:sushmitha.miriam@gmail.com">sushmitha.miriam@gmail.com</a><br />
</address>